    $gris1: #2f2d2d;
    $gris2 :#484646;
    $gris3: #29292a;
    $gris4: #272729;
    $gris5:grey;
    @mixin margenes ($top, $right, $bottom, $left) {
        margin-top: $top;
        margin-right: $right;
        margin-bottom: $bottom;
        margin-left: $left;
    }
    
    footer {
        background-color: $gris1;
        width: 100%;
        @include margenes(70px);
    }
    
    #row-footer {
        background-color: $gris1;
    }
    
    .item {
        margin-top: 20px;
        margin-left: 0px;
        @include margenes(20px, 0px, 0px, 0px);
    }
    
    .card-productos {
        flex: 1 190px;
        /*ancho de la card*/
        padding: 2px 5px 2px 5px;
        background-color: blanchedalmond;
        background-color: $gris2;
        color: white;
        @include margenes(22px, 35px, 12px, 24px);
    }
    
    .card-body {
        width: 100%;
        background-color: $gris3;
        padding: 0px 5px 2px 5px;
    }
    
    .btn-agregar {
        width: 100%;
        border-radius: 0px;
    }
    
    body {
        background-color: $gris2;
        color: white;
    }
    
    .jumbotron {
        background-color: $gris4;
        color: white;
    }
    
    .caracteristicas {
        @include margenes(0px, 0px, 0px, 0px);
    }
    
    .logo-kefi {
        border-radius: 60%;
    }
    
    .cont-breadcrumb {
        background-color: $gris4;
        width: 35%;
        @include margenes(0px, 0px, 5px, 0px);
        text-decoration: none;
    }
    
    .breadcrumb-item {
        padding: 0;
        display: inline;
    }
    
    #direccion {
        margin-bottom: 2%;
    }
    
    tr>td:hover {
        background-color: white;
    }
    
    #containerMedios,
    #containerTarjetas {
        @include margenes(-18px, 0px, 0px, 0px);
        width: 30rem;
        background-color: $gris5;
        color: white;
    }
    
    .list-group-item {
        color: black;
    }
    
    .nav-tabs {
        border: none;
    }
    
    .btn-contacto {
        margin-left: 5%;
        margin-top: 4%;
        font-size: 1.5em;
        border-color: white;
        @include margenes(4px, 0px, 0px, 5px);
    }
    
    #recipient-name {
        @include margenes(0px, 0px, 0px, 5px);
    }
    
    #message-text {
        width: 99%;
    }
    
    #label-mess,
    #label-email,
    #label-tel {
        color: black;
    }
    
    #header-cont {
        background-color: $gris5;
    }